.col-xl-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%
}

.media {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox
}

.media-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1
}

.mb-1,
.my-1 {
    margin-bottom: 1rem !important
}

.mr-2,
.mx-2 {
    margin-right: 1.5rem !important
}