<div class="px-5 py-5 container-fluid">
    <h2 class="text-center">Books Dasboard</h2>
    <section id="stats-subtitle">
        <div class="row">
            <div class="col-12 mt-3 mb-1">
                <p>Statistics of all the books we have published till now.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="fabook" class="text-success font-large-2 mr-2"></fa-icon>Total
                                        Books</h4>
                                    <span class="font-weight-bolder">Distinct</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-success">{{dashboardDetails?.totalBooks_Distinct}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="fabook" class="text-danger font-large-2 mr-2"></fa-icon>Total
                                        Books</h4>
                                    <span class="font-weight-bolder">Quantity</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-danger">{{dashboardDetails?.totalBooks_Quantity}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="faWarehouse" class="text-success font-large-2 mr-2"></fa-icon>Books in Almirah</h4>
                                    <span class="font-weight-bolder">Distinct</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-success">{{dashboardDetails?.booksInAlmirah_Distinct}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="faWarehouse" class="text-danger font-large-2 mr-2"></fa-icon>Books in Almirah</h4>
                                    <span class="font-weight-bolder">Quantity</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-danger">{{dashboardDetails?.booksInAlmirah_Quantity}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="faBed" class="text-success font-large-2 mr-2"></fa-icon>Books in Bed</h4>
                                    <span class="font-weight-bolder">Distinct</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-success">{{dashboardDetails?.booksInBed_Distinct}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="faBed" class="text-danger font-large-2 mr-2"></fa-icon>Books in Bed</h4>
                                    <span class="font-weight-bolder">Quantity</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-danger">{{dashboardDetails?.booksInBed_Quantity}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="faBoxArchive" class="text-success font-large-2 mr-2"></fa-icon>Books in Box</h4>
                                    <span class="font-weight-bolder">Distinct</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-success">{{dashboardDetails?.booksInBox_Distinct}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="faBoxArchive" class="text-danger font-large-2 mr-2"></fa-icon>Books in Box</h4>
                                    <span class="font-weight-bolder">Quantity</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-danger">{{dashboardDetails?.booksInBox_Quantity}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-sm-6 mb-4">
                <div class="card">
                    <div class="card-header p-2 ps-3">
                        <div class="d-flex justify-content-between">
                            <div>
                                <div class="media-body">
                                    <h4><fa-icon [icon]="faCircleXmark" class="text-warning-emphasis font-large-2 mr-2"></fa-icon>Books Out of Stock</h4>
                                    <span class="font-weight-bolder">Distinct</span>
                                </div>
                            </div>
                            <div class="text-center border-radius-lg">
                                <h4 class="mb-0 text-warning-emphasis">{{dashboardDetails?.books_OutofStock}}</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<!-- <div class="col-xl-3 col-sm-6 mb-xl-0 mb-4">
    <div class="card">
        <div class="card-header p-2 ps-3">
            <div class="d-flex justify-content-between">
                <div>
                    <p class="text-sm mb-0 text-capitalize">Sales</p>
                    <h4 class="mb-0">$103,430</h4>
                </div>
                <div
                    class="icon icon-md icon-shape bg-gradient-dark shadow-dark shadow text-center border-radius-lg">
                    <i class="material-symbols-rounded opacity-10">weekend</i>
                </div>
            </div>
        </div>
        <hr class="dark horizontal my-0">
        <div class="card-footer p-2 ps-3">
            <p class="mb-0 text-sm"><span class="text-success font-weight-bolder">+5% </span>than yesterday
            </p>
        </div>
    </div>
</div> -->