<div class="body">
    <nav>
        <img src="logo.png" class="mobile-img" alt="InkQuills Logo">
        <div class="menu-toggle right-button mobile-only" (click)="toggleSidebar()"><i class="fa fa-bars"></i></div>
    </nav>
    <aside [class.show]="isActive">
        <ul>
            <!-- Dashboard -->
            <li class="nav-item">
                <a routerLink="/dashboard" routerLinkActive="active" (click)="toggleSidebar()" class="nav-link"
                    ariaCurrentWhenActive="page">
                    <i class="fa fa-home" aria-hidden="true"></i> Dashboard
                </a>
            </li>

            <!-- Author Menu -->
            <li class="nav-item">
                <a href="javascript:void(0);" (click)="toggleSubMenu('author')" class="nav-link">
                    <i class="fa fa-user" aria-hidden="true"></i> Author
                    <i [class]="isSubMenuOpen('author') ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"
                        aria-hidden="true"></i>
                </a>
                <ul *ngIf="isSubMenuOpen('author')" class="submenu">
                    <li>
                        <a routerLink="/addAuthor" (click)="toggleSidebar()" routerLinkActive="active" class="nav-link"
                            ariaCurrentWhenActive="page">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add Author
                        </a>
                    </li>
                    <li>
                        <a routerLink="/allAuthors" (click)="toggleSidebar()" routerLinkActive="active" class="nav-link"
                            ariaCurrentWhenActive="page">
                            <i class="fa fa-list" aria-hidden="true"></i> All Authors
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Books Menu -->
            <li class="nav-item">
                <a href="javascript:void(0);" (click)="toggleSubMenu('books')" class="nav-link">
                    <i class="fa fa-user" aria-hidden="true"></i> Books
                    <i [class]="isSubMenuOpen('books') ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"
                        aria-hidden="true"></i>
                </a>
                <ul *ngIf="isSubMenuOpen('books')" class="submenu">
                    <li>
                        <a routerLink="/addBook" (click)="toggleSidebar()" routerLinkActive="active" class="nav-link"
                            ariaCurrentWhenActive="page">
                            <i class="fa fa-plus" aria-hidden="true"></i> Add Book
                        </a>
                    </li>
                    <li>
                        <a routerLink="/allBooks" (click)="toggleSidebar()" routerLinkActive="active" class="nav-link"
                            ariaCurrentWhenActive="page">
                            <i class="fa fa-list" aria-hidden="true"></i> All Books
                        </a>
                    </li>
                </ul>
            </li>

            <!-- Sales Menu -->
            <li class="nav-item">
                <a href="javascript:void(0);" (click)="toggleSubMenu('sales')" class="nav-link">
                    <i class="fa fa-user" aria-hidden="true"></i> Sales
                    <i [class]="isSubMenuOpen('sales') ? 'fa fa-chevron-down' : 'fa fa-chevron-right'"
                        aria-hidden="true"></i>
                </a>
                <ul *ngIf="isSubMenuOpen('sales')" class="submenu">
                    <li>
                        <a routerLink="/booksales" (click)="toggleSidebar()" routerLinkActive="active" class="nav-link"
                            ariaCurrentWhenActive="page">
                            <i class="fa fa-list" aria-hidden="true"></i> All Sales
                        </a>
                    </li>
                    <li>
                        <a routerLink="/addsalesexcel" (click)="toggleSidebar()" routerLinkActive="active" class="nav-link"
                            ariaCurrentWhenActive="page">
                            <i class="fa fa-list" aria-hidden="true"></i> Add Sales Excel
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <hr>
        <div class="user-details bottom-div">
            <p>
                <i class="fa fa-address-card" aria-hidden="true"></i>
                {{Name}} ({{Role}})
            </p>
            <hr>
            <div class="logout-button" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </div>
        </div>
    </aside>
    <main>
        <router-outlet />
    </main>
    <footer>
        <div class="center-align">
            <strong>InkQuills Publishing House (OPC) Pvt Ltd <i class="fa fa-copyright"></i> 2025</strong>
        </div>
    </footer>
</div>