<div class="body">
    <nav>
        <img src="logo.png" class="mobile-img" alt="InkQuills Logo">
        <div class="menu-toggle right-button mobile-only" (click)="toggleSidebar()"><i class="fa fa-bars"></i></div>
    </nav>
    <aside [class.show]="isActive">
        <ul>
            <li class="nav-item">
                <a routerLink="/dashboard" routerLinkActive="active" (click)="toggleSidebar()" class="nav-link"
                    ariaCurrentWhenActive="page">
                    <i class="fa fa-home" aria-hidden="true"></i> Dashboard
                </a>
            </li>
            <li>
                <a routerLink="/addAuthor" (click)="toggleSidebar()" routerLinkActive="active"
                    class="nav-link" ariaCurrentWhenActive="page">
                    <i class="fa fa-user" aria-hidden="true"></i> Add Author
                </a>
            </li>
            <li>
                <a routerLink="/addBook" (click)="toggleSidebar()" routerLinkActive="active"
                    class="nav-link" ariaCurrentWhenActive="page">
                    <i class="fa fa-book" aria-hidden="true"></i> Add Book
                </a>
            </li>
        </ul>
        <hr>
        <div class="user-details bottom-div">
            <p>
                <i class="fa fa-address-card" aria-hidden="true"></i>
                {{Name}} ({{Role}})
            </p>
            <hr>
            <div class="logout-button" (click)="logout()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Logout
            </div>
        </div>
    </aside>
    <main>
        <router-outlet />
    </main>
    <footer>
        <div class="center-align">
            <strong>InkQuills Publishing House (OPC) Pvt Ltd <i class="fa fa-copyright"></i> 2025</strong>
        </div>
    </footer>
</div>